*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}



/*********************/
/* LOGO setion start */
/*********************/

#logo{
    background-color: #3f3f3f;
    height: 10%;
		display: flex;
		justify-content: center;
}

#logo img{
	height: 100%;
 	width: auto;
}

/*******************/
/* LOGO setion end */
/*******************/



/************************/
/* FOLDERS setion start */
/************************/
#myUL{
	padding: 5px;
}

 img, #tabarea img {
	height: 15px;
	cursor: pointer;
}


.file {
  background-color: inherit;
}

#files{
	background-color: #555;
	height: 100%;
	width: 25%;
	position: absolute;
	left: 0;
	overflow: hidden;
}


#files{
	height: 100%;
	width: 25%;
	position: absolute;
	left: 0;
	overflow: hidden;
	color: white;
}

#files ul{
	list-style-type: none;
}

#files li{
	cursor: pointer;
	margin: 10px 0;
	margin: 0 0.5%;
	padding: 5px;
}

#files li ul{
	padding-left: 30px;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
    
  background-color: inherit;
}
/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: lightgray;
  display: inline-block;
  margin-right: 8px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

/* Context menu start*/
#context-menu {
  position:absolute;
  z-index:10000;
  width:150px;
  background:#1b1a1a;
  border-radius:5px;
  transform:scale(0);
  transform-origin:top left;
}
#context-menu.active {
  transform:scale(1);
  transition:transform 300ms ease-in-out;
}
#context-menu .item {
  padding:8px 10px;
  font-size:15px;
  color:#eee;
}
#context-menu .item:hover {
  background:#777;
}
#context-menu .item i {
  display:inline-block;
  margin-right:5px;
}
#context-menu hr {
  margin:2px 0px;
  border-color:#555;
}
/* Context menu end */

/**********************/
/* FOLDERS setion end */
/**********************/



/************************/
/* TABAREA setion start */
/************************/

#tabarea{
	height: 10%;
	width: 75%;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
  padding: 20px 10px;
}


.tablink {
    background-color: #777;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
		margin: 0 0.5%;
    padding: 0px 10px;
}

.tablink:hover {
  background-color: #3f3f3f;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.item_active {
  background-color: #252525;
}
/**********************/
/* TABAREA setion end */
/**********************/



/*************************/
/* TEXTAREA setion start */
/*************************/

#txtarea{
	height: 90%;
	width: 75%;
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
  justify-content: center;
  align-items: center;
}

/***********************/
/* TEXTAREA setion end */
/***********************/








