#logo{
	  text-align: center;
    background-color: #555;
    color: #FFAA3E;
    /*height: 100px;*/
    max-height: 100px;
    min-height: 100px;
    max-width: 400px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: cursive;
    font-size: 25px;
    line-height: 0.8;
    top: 10px;
}

#logo p{
	color: #A6E22E;
	font-family: monospace;
	font-size: 20px;
    top: 10px;
}


/* Tree View */

/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
    
  background-color: inherit;
}

/*.caret:hover {
  background:#555;
}*/

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: lightgray;
  display: inline-block;
  margin-right: 8px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}



/*.file:hover {
  background:#555;
}

.li:hover {
  background:#555;
}*/





* {
    margin: 0em;
    /*padding: 0em;*/ 
    color: #ffffff;
    background-color: #555;
}
#explorer {
    width: 20%;
    height: 100%;
    background-color: #252525;
    position: absolute;
}
/*
#tab {
    width: 100%;
    height: 20%;
    margin-left: 20%;
    background-color: #202020;
    position: absolute;
}

.tabLink {
    margin-top: 80px;
}
 */
#editor {
    width: 100%;
    height: 100%;
    margin-left: 20%;
    margin-top: 8%;
    position: absolute;
    background-color: #141414;
}

div {
    color: #ffffff;
    box-sizing: border-box;
    background-color: inherit;
}
img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: inherit;
}



/* Tab */
/*
.tabLink {
    width: 10%;
    height: 30px;
    margin: auto;
    margin-top: 75px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #080808;
  }
  
  /* Style the buttons inside the tab *\/
  .tabLink button {
    background-color: #080808;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover *\/
  .tabLink button:hover {
    background-color: #080808;
  }
  
  /* Create an active/current tablink class *\/
  .tabLink button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content *\/
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
*/

  /* Editor */
.textarea {
    width: 100%;
    height: 100%;
    color: #ffffff;
 }


/* Context menu */
body {
  /*margin:0px;*/
  /*font-family:"Open Sans",sans-serif;*/
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
#context-menu {
  position:absolute;
  z-index:10000;
  width:150px;
  background:#1b1a1a;
  border-radius:5px;
  transform:scale(0);
  transform-origin:top left;
}
#context-menu.active {
  transform:scale(1);
  transition:transform 300ms ease-in-out;
}
#context-menu .item {
  padding:8px 10px;
  font-size:15px;
  color:#eee;
}
#context-menu .item:hover {
  background:#777;
}
#context-menu .item i {
  display:inline-block;
  margin-right:5px;
}
#context-menu hr {
  margin:2px 0px;
  border-color:#555;
}





/* Style tab links */
.tablink {
  /*background-color: #555;*/
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}




.item_active {
  background-color: #252525;
}

.file {
  background-color: inherit;
}


