/************/
/*BODY Start*/
/************/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/**********/
/*BODY End*/
/**********/

/***************/
/*Folders Start*/
/***************/

#folders{
	height: 100%;
	width: 20%;
	background-color: bisque;
	position: absolute;
	left: 0;
}

/*************/
/*Folders End*/
/*************/

/************/
/*Tabs Start*/
/************/

#tabs{
	height: 10%;
	width: 80%;
	background-color: cadetblue;
	position: absolute;
	right: 0;
	top: 0;
}

/**********/
/*Tabs End*/
/**********/

/***************/
/*Txtarea Start*/
/***************/

#txtarea{
	height: 90%;
	width: 80%;
	background-color: darkgray;
	position: absolute;
	right: 0;
	bottom: 0;
}

/*************/
/*Txtarea End*/
/*************/